@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --clr-emerald: #10bd5e;
  --clr-light-green: #b6f099;
  --clr-dark-red: #cc1006;
  --clr-amber: #ffbe0bff;
  --clr-rose: #ff006eff;
  --clr-blue-violet: #8338ecff;
  --clr-azure: #3a86ffff;
  --clr-orange: #fb5607ff;
  --clr-folly: #ff0054ff;
  --clr-melon: #ffa69eff;
  --clr-lite-gray: #bbbec1;
  --clr-dark-gray: #595959ff;
  --clr-berkeley-blue: #081151;
  --clr-federal-blue: #020231ee;
  --clr-zaffre: #3a0ca3ff;
  --clr-dark-blue: #480ca8ff;
  --clr-dark-shadow: 0 30px 38px rgba(0, 0, 0, 0.302),
    0 15px 10px rgba(0, 0, 0, 0.22);
  --clr-light-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
}

body {
  background-color: var(--clr-federal-blue);
}

.container {
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}

.btn-note {
  width: 14rem;
  height: 14rem;
  margin: 3rem;
  background-color: var(--clr-lite-gray);
  border-radius: 8px;
  font-size: 50px;
  cursor: pointer;
}

.note-body {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 10px;
  margin: 2rem auto;
  position: absolute;

  left: 50%;
  transition: translate(-50%, -50%);
}

.add-note {
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 30rem;
  height: 30rem;
  justify-content: center;
  align-items: center;
}

.btn-cancel {
  position: absolute;
  left: 90%;
  font-size: 25px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

/*.add-note-heading {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  margin: 1rem;
}

.add-note-title {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  font-weight: 700;
  font-size: 30px;
}

.title-input {
  margin-left: 1rem;
  font-size: 16px;
  font-weight: 700;
  width: 20rem;
  border-radius: 5px;
  padding: 1rem;
  border-color: none;
} */
